.logo-gconn-before-navbar{
    padding-top: 30px;
    color: white;
    display: flex;
    gap: 5px;
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
}

.logo-gconn-before-navbar img{
    width: 60px;
}

.logo-gconn-before-navbar h1{
    font-weight: 700 ;
    font-size: 40px;
    padding-bottom: -10px;
}

.logo-gconn-before-navbar h3{
    margin-top: -10px;
    font-size: 8px;
}

.logo-gconn-before-navbar span{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.navbar div{
    color: white;
    display: grid;
    grid-template-columns: 13% 50%;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    column-gap: 3%;

}

.navbar div:hover{
    cursor: pointer;
    animation: div-hover 1s ;
    font-weight: 600;
}

@keyframes div-hover {
    from{
        font-weight: normal;
    }
    to{
        font-weight: 600;
    }
}