.icon-home{
    fill: transparent;
    stroke: white ;
    stroke-width: 10;
}

.icon-home:hover{
    animation: home-animation 2s;
    fill: white;
    cursor: pointer;
}

@keyframes home-animation {
    from{
        fill: transparent;
    }
    to{
        fill: white;
    }
}