.icon-home{
    fill: transparent;
    stroke: white ;
    stroke-width: 4;
}

.icon-home:hover{
    cursor: pointer;
    fill: white;
    stroke-width: 0;
    animation: icon-home 1s ;
}

@keyframes icon-home {
    from{
    stroke-width: 4;
    fill: transparent;
    }
    to{
    stroke-width: 0;
    fill: white;
    }
}